<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<title>Biodata Index</title>
</head>
<body>
<div class="container">

<div class="from-group">
	<div calss="col align-self-center"></div>
	<h1>Biodata List</h1>
	
	
	 <div class="col align-self-end">
      <p><a href="add" class="btn btn-primary" >Menambah Biodata</a></p>
    </div>
	
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nama</th>
				<th>Alamat</th>
				<th>JK</th>
				<th>Telp</th>
				<th>#</th>
			</tr>
		</thead>
		<tbody>		
			<tr th:each="bd : ${listData}">
				<td th:text="${bd.id}"></td>
				<td><span th:text="${bd.nama}"></span></td>
				<td><span th:text="${bd.alamat}"></span></td>
				<td><span th:text="${bd.jk}"></span></td>
				<td><span th:text="${bd.telp}"></span></td>	<!-- //"@{edit/{id}(id=${bd.id})}" id pertama adalah namadari controler, (didalam kurung) untuk apa yang di titik kan -->			
				<td><a th:href="@{edit/{id}(id=${bd.id})}" class="btn btn-warning "><i class="far fa-edit"></i> Edit</a> | <a th:href="@{delete/{id}(id=${bd.id})}" class="btn btn-danger"><i class="far fa-trash-alt"></i> Hapus</a></td>
			</tr>			
		</tbody>
				
	</table>
	   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
 </div>
 </div>
</body>
</html>