<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8"/>
		<title>Data Leptop</title>
	</head>
	<body>
		<h1>Leptop Save Page</h1>
		<p th:text="'ID: ' + ${data.id}" />
		<p th:text="'Nama: ' + ${data.nama}" />
		<p th:text="'Tipe: ' + ${data.tipe}" />
		<p th:text="'Warna: ' + ${data.warna}" />		
	</body>
</html>