 body{
 	background-color: powderblue;

 }
h1{
	color: blue;
	font-family: verdana;
	font-size: 	300%;
}
p{
	color: red;
	font-family: courier;
	font-size: 160%;
	border: 1px solid red;
	padding: 30px;
}
#p01{
	color: yellow;
	font-family: verdana;
}
p.error{
	color: red;
}