<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>index Biodata Karyawan</title>
	</head>
	
	<body>
		<h1>List Biodata Karyawan</h1>
		<p><a href="add">Menambah Biodata</a></p>
		
		<table>
			<thead>
			<tr>
				<th>ID</th>
				<th>Nama Depan</th>
				<th>Nama Belakang</th>
				<th>Alamat</th>
				<th>Email</th>
				<th>Tempat Lahir</th>
				<th>Tanggal Lahir</th>
				<th>#</th>
			</tr>
			</thead>
			
			<tbody>
				<tr th:each="bd : ${listData}"/>
					<td th:text="${bd.id}"></td>
					<td><span th:text="${bd.first_name}"></span></td>
					<td><span th:text="${bd.last_name}"></span></td>
					<td><span th:text="${bd.address}"></span></td>
					<td><span th:text="${bd.email}"></span></td>
					<td><span th:text="${bd.place_of_birth}"></span></td>
					<td><span th:text="${bd.date_of_birt}"></span></td>
					<td><a href="#">Edit</a> |<a href="#">Hapus</a></td>
				</tr>
			</tbody>
		
		</table>
	</body>
</html>