<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Save Data</title>
	</head>
	
	<body>
		<h1>Employe save</h1>
		<p th:text="'ID: '+${data.id}"/><br>
		<p th:text="'Nama Depan: '+${data.first_name}"/><br>
		<p th:text="'Nama Belakang: '${data.last_name}"/><br>
		<p th:text="'Eddress: '+${data.address}"/><br>
		<p th:text="'Email: '+${data.email}"/><br>
		<p th:text="'Tempat Lahir: '+${date.place_of_birth}"/><br>
		<p th:text="'Tanggal Lahir: '+${date.date_of_birth}"/>
	</body>

</html>