<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymleaf.org">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<h1>Biodata Kendaraan save</h1>
	
	<p th:text="'ID: ' + ${data.id}"/>
	<p th:text="'Nama: ' + ${data.nama}"/>
	<p th:text="'Warna: ' + ${data.warna}"/>
	<p th:text="'Jenis: ' + ${data.jenis}"/>
	<p th:text="'No Pol: '+${data.nopol}"/>
</body>

</html>