<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
<head>
	
	<meta charset="UTF-8">
</head>
<body>
	<h1>Data Mahasiswa Save</h1>
	<p th:text="'ID: ' +${data.id}"/><br>
	<p th:text="'Nama: ' +${data.nama}"/><br>
	<p th:text="'Alamat: ' +${data.alamat}"/><br>
	<p th:text="'JK: ' +${data.jk}"/><br>
	<p th:text="'kelas: ' +${data.kelas}"/><br>
</body>

</html>