<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org">
	<head>
	<meta charset="UTF-8">
	</head>
<body>
	<h1>Data Tas</h1>
	<p th:text="'ID: '+${data.id}"/>
	<p th:text="'Nama: ' +${data.nama}"/>
	<p th:text="'Jenis: ' +${data.jenis}"/>
	<p th:text="'Warna: ' +${data.warna}"/>
	<p th:text="'Bahan: ' +${data.bahan}"/>
</body>
</html>